
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <label>Müşteri Adı:</label>
    <input class="form-control" name="MusteriAd" required />
    <br />
    <label>Müşteri Soyadı:</label>
    <input class="form-control" name="MusteriSoyad" required />
    <br />
    <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    <br />
    <script>
            $('#btn1').click(function () {
                alert('Müşteri başarıyla eklendi.')
            });
        </script>

</form>


